<!DOCTYPE html>
<html>
<head>
  <title>BookStore</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>
<body>

  <div class="header">

    <div class="row">

      <div class="col-md-8">
        <a href="/store/index">
          <%= image_tag("logo.png") %>
        </a>

        <div id="searchpanel">
          <div class="btn-group">
            <button type="button" class="btn custom" data-toggle="dropdown">
              Action <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
            </ul>
          </div>

          <input type="text" class="search">

          <button id="search" type="submit">Go</button>

        </div>
      </div>

      <div class="col-md-4">

        <div id="rightpanel">
          <%= link_to "BROWSE", store_index_path %> |
          <% if user_signed_in? %>
            sign in as <%= current_user.full_name %>
            <%= link_to "SIGN OUT", destroy_user_session_path, :method => :delete %>
          <% else %>
            <!-- <%= link_to "SIGN IN", new_user_session_path %> -->
            <%= link_to 'SIGN IN', new_user_session_path, 'data-toggle' => 'modal', 'data-target' => '#myModal' %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="page">
      INDEX

    </div>
  </div>

  <div class="container">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
  </div>
</body>

</html>
